*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display:block;
    text-decoration: none;
    cursor: pointer;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color:rgba(0, 0, 0, 0.800);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.2rem;
    color: #c9c9c9;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
    color: rgb(240, 240, 240);
    opacity: 1;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url("/assests/svg/globalnav_apple_image__b5er5ngrzxqq_large.svg") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("/assests/svg/search.svg") center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("/assests/svg/globalnav_bag_image__yzte50i47ciu_large.svg") center no-repeat;
}


/* iphone13 pro section */

.iphone-13-pro{
    height: 64.2rem;
    background: url("/assests/images/hero_iphone_13pro__dhnsegysa42u_large_2x.jpg");
    margin-top: 3.5rem;
    width: 100%;
}

.iphone-13-pro{
    border-top: none;
}

.title{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 11rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.09rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}
.cta-link, span{
    color: #06c;
    font-size: 2.1rem;
    display: inline-block;
}
.cta-link:nth-child(2){
    margin-left: 2.6rem;
}


.cta-link:hover{
    border-bottom: 2px solid #06c;
}

/* iphone-13 section */
.iphone-13{
    height: 70.2rem;
    background: url("/assests/images/hero_iphone_13__f194u1rdooeq_large.jpg") center no-repeat;
    width: 100%;
    margin-top: 1rem;
    background-size: auto 60.4rem;
}

.title-heading-iphone13{
    color: white;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005rem;
    font-family: 'SF Pro Display', sans-serif;
}

.title-sub-heading-iphone13{
    color: #fec2eb;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing:.004rem;
    margin-top: 6px;
}

/* macbook pro section */
.macbook-pro{
    height: 70.2rem;
    background: url("/assests/images/hero_macbookpro__eatonjfwvuc2_large.jpg") center no-repeat ;
    width: 100%;
    margin-top: -4.6rem;
    background-size: auto 60.4rem;
}

.title-heading-macbook{
    font-size: 56px;
    line-height:1.02143;
    font-weight: 600;
    letter-spacing: -.004em;
    margin-top: -40px;
    font-family: 'SF Pro Display', sans-serif;
}

.title-sub-heading-macbook{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}
.title-price{
    color: #86868b;
    margin-top: 13px;
    font-size: 20px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
}

.hero{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
}

.container-airpod{
    background: url("/assests/images/tile_airpods__fuv6vgn42y2q_large_2x.jpg") center no-repeat;
    margin-top: -2rem;
    margin-bottom: 3rem;
    background-size: auto 50.4rem;
    height: 62.2rem;
    width: 50%;
}

.airpod-title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40rem;
}
.airpod-main-title{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display",sans-serif;
    margin-top: 53px;
}
.airpod-sub-title{
    font-size: 20px;
    font-weight: 400;
    color: #000000d5;
}
.airpod-sub-title p{
    font-size: 15px;
}

.heading-homepod-main{
    font-size: 40px;
    margin-top: 92px;
    font-weight:500;
}

.heading-homepod-mini-sub-title{
    font-size: 15px;
    color: #000000d7;
    margin-top: 10px;
}

.container-homepod{
    background: url("/assests/images/tile_homepod_mini__b73w4z3ljymu_large_2x.jpg") center no-repeat;
    margin-top: -2rem;
    margin-bottom: 3rem;
    background-size: auto 50.4rem;
    height: 65.2rem;
    width: 50%;
}
.title-homepod-mini{
    margin-top: 100px;
}

.container-apple-watch{
    background: url("/assests/images/tile_lte_avail__eqbz3ui0dz8m_large_2x.jpg") center no-repeat;
    margin-top: -5rem;
    background-size: auto 60.4rem;
    height: 60.2rem;
    width: 50%;
}


.title-heading-watch{
    background: url("/assests/images/tile_watch_logo_lte__h7snssb7mqq2_large_2x.png") center no-repeat;
    margin-bottom: -60px;
    background-size: auto 5rem;
    height: 20rem;
}
.title-sub-heading-watch{
    font-size: 20px;
    color: #000000d7;
    font-weight: 500;
    margin-top: .4rem;
}
.watch-new{
    color: rgb(255, 108, 108);
    font-size: 15px;
    margin-bottom: -50px;
}



span{
    font-size: 15px;
}
.container-ipad{
    background: url("/assests/images/promo_ipad_mini__spq4zjcuuaie_large_2x.jpg") center no-repeat;
    margin-top: -5rem;
    background-size: auto 57.4rem;
    height: 56.2rem;
    width: 50%;
}
.title-heading-ipad{
    background: url("/assests/images/promo_logo_ipad_mini__n5nqff6gq8yu_large_2x.png") center no-repeat;
    background-size: auto 4rem;
    height: 20rem;
}

.title-heading-ipad{
    margin: -40px 0px -50px 0px;
}
.title-sub-heading-ipad{
    font-size: 20px;
    font-weight: 600;
    color: #000000de;
}

.common-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1068px) {
        .iphone-13-pro{
            background: url("/assests/images/hero_iphone_13pro__dhnsegysa42u_large.jpg") center no-repeat;
            width: 100%;
        }
        .iphone-13{
            margin-top: 1rem;
            height: 60rem;
            background: url("/assests/images/hero_iphone_13__f194u1rdooeq_medium.jpg")center no-repeat;
            width: 100%;
            
        }
        .macbook-pro{
            background: url("/assests/images/hero_macbookpro__eatonjfwvuc2_large.jpg") center  no-repeat;
            width: 100%;
        }
        .container-airpod{
            background: url("/assests/images/tile_airpods__fuv6vgn42y2q_large_2x.jpg")center no-repeat;
            margin-top: -5rem;
            background-size: auto 55.4rem;
            height: 58.2rem;
            margin-bottom: 100px;
        }
        
        .container-homepod{
            background: url("/assests/images/tile_homepod_mini__b73w4z3ljymu_small_2x.jpg") center no-repeat;
            background-size: auto 47.4rem;
            height: 60.2rem;
            

        }
        .cta-link{
            font-size:20px;
        }
        .container-apple-watch{
            background: url("/assests/images/tile_lte_avail__eqbz3ui0dz8m_medium_2x.jpg") center no-repeat;
            background-size: auto 55.5rem;
            height: 60.2rem;
        }
        .container-ipad{
            background: url("/assests/images/promo_ipad_mini__spq4zjcuuaie_medium_2x.jpg") center no-repeat;
            background-size: auto 47.5rem;
        }

}


@media screen and (max-width: 886px){
        .macbook-pro{
            background: url("/assests/images/hero_macbookpro__eatonjfwvuc2_medium.jpg") center no-repeat;
            height: 60rem;
            background-size: auto 50.4rem;
            width: 100%;
        }
        .title-dark{
            padding-top: 13rem;
        }
        .title-heading-macbook{
            font-size: 40px;
        }
        .title-sub-heading-macbook{
            font-size: 30px;
        }
        .title-price{
            font-size: 20px;
        }
        .container-apple-watch{
            background: url("/assests/images/tile_lte_avail__eqbz3ui0dz8m_medium_2x.jpg") center no-repeat;
            background-size: auto 49.5rem;
            height: 60.2rem;
        }
        .title-watch{
            margin-top: 10px;
        }

        
}
@media screen and (max-width: 732px) {
    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08,0.24,1);
            height: .36s cubic-bezier(0.32, 0.08,0.24,1);
    }
    .iphone-13-pro{
        margin-top: 4.8rem;
        background: url("/assests/images/hero_iphone_13pro__dhnsegysa42u_small.jpg") center no-repeat;
        width: 100%;
    }
    .nav-list{
        margin-top: 0;
    }

    .nav-list-mobile{
        display: flex;
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden{
        display: none;
    }
    /* mobile navbar  hamburger apple menu */
    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position:absolute;
        width: 1.7rem;
        height: 1.5px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04,0.04,0.12,0.96);
    }

    .line-top{
        margin-top: 3px;
    }
    .line-bottom{
        margin-top: -.6rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96);
    }
    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04,0.04,0.12,0.96);
    }

    header.active{
        height: 100%;
        background-color: #000;
    }
    .nav-link-apple{
        width: 1.8rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav-link-bag{
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity 3s;
    }
    .nav{
        position: relative;
    }
    .nav-link{
        font-size: 1.7rem;
        padding: 0;
        margin: auto 0;
    }
    .nav-list-desktop{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }

    .active .nav-list-desktop{
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-link-bag{
        opacity: 0;
        transition: opacity .3s;
    }

    .nav-list-desktop .nav-item{
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, 0.116);
    }

    .nav-list-desktop .nav-item:nth-child(9){
        border-bottom: none;
    }
    .active .nav-list-desktop .nav-item{
        animation: fadeIn 1s ease-in;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }        
    }

    .iphone-13{
        margin-top: -6rem;
        height: 60rem;
        background: url("/assests/images/hero_iphone_13__f194u1rdooeq_small.jpg") center no-repeat;
        width: 100%;
    }
    .macbook-pro{
        background: url("/assests/images/hero_macbookpro__eatonjfwvuc2_small.jpg") center no-repeat;
        width: 100%;
    }
    .title-iphone-13{
        padding-top: 270px;
    }
    .title-heading-iphone13{
        font-size: 30px;
    }
    .title-sub-heading-iphone13{
        font-size: 20px;
    }
    .title-heading{
        font-size: 36px;
        line-height: 1.25;
        font-weight: 600;
        letter-spacing: .004em;
    }
    
    .title-sub-heading{
        font-size: 21px;
        margin-top: .6rem;
        letter-spacing: .012em;
        font-weight: 400;
    }
    
    .title-price{
        font-size: 17px;
        font-weight: 400;
        color: #888;
        margin-top: .68rem;
    }
    .title-heading-macbook{
        font-size: 40px;
    }
    .title-sub-heading-macbook{
        font-size: 20px;
    }
    .title-price{
        font-size: 15px;
    }

    .ipad-mini{
        background: url("/assests/images/promo_ipad_mini__spq4zjcuuaie_small_2x.jpg") center no-repeat;
        height: 60.2rem;
        width: 100%;
        background-size: auto 60rem;
    }


    .hero-container{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .container-airpod{
        background: url("/assests/images/tile_airpods__fuv6vgn42y2q_small_2x.jpg")center no-repeat;
            background-size: auto 40.4rem;
            height: 50rem;
            width: 100%;
    }
    .airpod-title-box{
        margin-top: 34rem;
    }
    
    .container-homepod{
        background: url(/assests/images/tile_homepod_mini__b73w4z3ljymu_small_2x.jpg) center no-repeat;
        background-size: auto 44rem;
        height: 58rem;
        width: 100%;
}

.container-apple-watch{
    background: url("/assests/images/tile_lte_avail__eqbz3ui0dz8m_large_2x.jpg") center no-repeat;
    background-size: auto 44rem;
    height: 58rem;
    width: 100%;
}


.container-ipad{
    background: url("/assests/images/promo_ipad_mini__spq4zjcuuaie_small_2x.jpg") center no-repeat;
    background-size: auto 54rem;
    height: 60rem;
    width: 100%;
}

}

